@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @keyframes transitionIn {
        from {
            opacity: 0;
            transform: rotateY(-10deg);
        }

        to {
            opacity: 100;
            transform: rotateY(0deg);
        }
    }

    body {
        @apply bg-main font-body text-[#000000];
    }

    .container {
        animation: transitionIn 0.75s;
    }

    h1 {
        @apply text-2xl font-semibold font-heading bg-transparent;
    }

    h2,
    h3,
    h4,
    h5,
    p,
    span,
    ul,
    li {
        @apply bg-transparent;
    }
}

@layer components {
    .swiper .swiper-pagination-bullet {
        @apply bg-tertiary;
    }

    .swiper-slide {
        text-align: center;
        background: transparent;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
